{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}

{% block 'title' %}Cadastro - RIFEIRO{% endblock %}

{% block 'body' %}

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    

    <div class="box">
        <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
            <h1 class="titulo font-degrade borda-bottom-degrade">cadastrando User</h1>
            <br>
            <span class="span-descricao">E-mail:</span>
            <input type="text" class="form-control input-cadastro" name="email">
            <br>
            <span class="span-descricao">Nome de usuário:</span>
            <input type="text" class="form-control input-cadastro" name="username">
            <br>
            <span class="span-descricao">Senha:</span>
            <input type="password" class="form-control input-cadastro" name="password">
            <br>
            <span class="span-descricao">Confirmar senha:</span>
            <input type="password" class="form-control input-cadastro" name="confirm-password">
            <br>
            <input type="submit" value="CADASTRAR" class="btn btn-success btn-lg">
            <a href="{% url 'logar' %}" class="btn btn-primary btn-lg">LOGIN</a>
        </form>
    </div>

{% endblock %}
